@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.MonetaDirect.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="adminContent">
        
    </table>
    
}